@model ApplicationCore.Models.CastDetailsResponseModel

@{
    ViewData["Title"] = "CastDetails";
}

<div class="container">

    <div class="row bg-color-1 ">
        <div class="col-3">
            <img class="detail-poster" src="@Model.ProfilePath" alt="@Model.Name">
        </div>
        <div class="col-6">
            <h3 style="color:white">
                @Model.Name
            </h3>
        </div>
        <div class="col-3">
            <div class="third-column">
                <a href="#" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">
                    <i class="fas fa-pen-square size:2x">REVIEW</i>
                </a>
                <p></p>
                <a href="#" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">
                    <i class="far fa-play-circle size:2x">TRAILER</i>
                </a>
                <p></p>
                <a href="#" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">
                    BUY 9.90
                </a>
                <p></p>
                <a href="#" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">
                    WATCH MOVIE
                </a>
                <p></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-8">
            <h5>WORKS</h5>
            <table class="table">
                <tbody>
                    @foreach (var movie in Model.Movies)
                    {
                        <tr>
                            <td>
                                <img src="@movie.PosterUrl"
                                     style="width:50px"
                                     alt="@movie.Title">
                            </td>
                            <td> @movie.Title </td>
                            <td> @movie.Character</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>